@charset "ISO-8859-1";

html {
	margin: 0px;
	padding: 0px;
	font-family: "Book Antiqua", Palatino, serif;

  background-image: url("../images/shapelined_.33.jpg");
  background-size: 100% auto;
  background-repeat: repeat;

	width: 100%;
	height: 100%;
}

body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#back {
	font-size: 1.3em;
	font-family: "Segoe UI", sans-serif;
	color: red;
	font-weight: bold;

		position: absolute;
		display: inline-block;
		top: 10px;
		left: 15px;

	background-color: black;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px black;
}

#back:active {
	transform: translate(3px, 3px);
	box-shadow: 0px 0px 10px black;
}




.entete {
  margin-bottom: 30px;
}

.entete h1 {
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  text-decoration: underline;
}

.entete a {
	display: inline-block;
	margin-left: 30px;
	padding: 5px;

	border: 3px solid red;
	border-radius: 5px;

	color: red;
	font-weight: bold;
	text-decoration: none;
	background-color: white;
}




.contenu p {
  text-indent: 30px;
  text-align: justify;
	font-size: 1.35em;

	margin-left: 40px;
}

.contenu h2 {
  margin-top: 30px;
  margin-bottom: 20px;

	font-family: "Segoe UI", sans-serif;
	text-decoration: underline;
	font-size: 2em;
	text-transform: uppercase;
}

.contenu figure {
	text-align: center;
	color: #420b05;
	font-family: "Segoe UI", sans-serif;
	font-style: italic;

	padding: 0;
	border-radius: 10px;
	background-color: #bebebe;

	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.contenu figure img {
	width: 100%;
	border-radius: 10px;
}

.contenu figcaption {
	padding: 0 10px;
}

.contenu figcaption a {
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 5px;
	
	color: #420b05;
}

.contenu .intro {
	background-color: #bebebe;
	padding: 20px 25px;
	border-radius: 10px;
}

.contenu .intro p {
	margin-left: 0px;
}

.contenu .intro p:first-of-type {
	margin-top: 0px;
}

.contenu .intro p:last-of-type {
	margin-bottom: 0px;
}




.sources div {
  margin-bottom: 7px;
}


.sources #sources-title {
  margin-bottom: 15px;
}
