body {
    min-width: 550px;
}


#left, #right {
    position: absolute;
    top: 50%;

    background:none;
    border:none;
    color: var(--third-color);

    z-index: 99;
}

#left {
    left: 0.5em;
}

#right {
    right: 0.5em;
}

#left:hover, #right:hover {
    cursor: pointer;
}




.carousel {
    position: relative;
    background-color: var(--white);
}



.carousel-element {
    height: 100%;
    display: none;

    padding: 2vh 3em;
    background: var(--red2);
    color: var(--black);

    text-align: center;

    transition: all ease-out 0.5s;
    z-index: 1;
}

.carousel-element.active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.carousel-element a {
    background-color: var(--third-color);
    padding: 2vh 1vw;

    font-weight: bold;
    font-size: 2.25em;
}

.carousel-element .i {
    padding: 1vh 1vw;
    margin: 0 0 0.5em 0;

    background-color: var(--main-color);

    font-size: 1.75em;
    font-style: italic;
}

.carousel-element .small{
    font-size: 1.5em;
    color: var(--third-color);
}



  
@media screen and (max-width: 1000px) {
    .carousel-element {
        transform-origin: 50% 50% 250px;
    }

    .carousel-element a {
        font-size: 2em;
    }

    .carousel-element .i {
        font-size: 1.5em;
    }

    .carousel-element .small {
        font-size: 1.25em;
    }
}


@media screen and (max-width: 700px) {
    #content {
        width: 100%;
        margin-top: 5em;
    }
}