
#left, #right {
    position: absolute;
    top: 50%;

    background: none;
    border: none;
    color: var(--white);

    z-index: 99;
}

#left {
    left: 0.5em;
}

#right {
    right: 0.5em;
}

#left:hover, #right:hover {
    cursor: pointer;
}




.carousel {
    position: relative;

    height: calc(75vh - 3em);
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}



.carousel-element {
    max-width: calc(40em + 12em);
    height: 100%;
    display: none;

    padding: 0 6em;
    color: var(--black);

    transition: all ease-out 0.5s;
    
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.carousel-element.active {
    display: flex;
}

.carousel-element.active.from-left {
    animation: coming-from-left 1s normal;
}

.carousel-element.active.from-right {
    animation: coming-from-right 1s normal;
}

@keyframes coming-from-left {
    0% { margin-left: -100px; opacity: 0; }
    100% { margin-left: 0; opacity: 1; }
}

@keyframes coming-from-right {
    0% { margin-right: -100px; opacity: 0; }
    100% { margin-right: 0; opacity: 1; }
}

.carousel-element a {
    background-color: var(--orange2);
    padding: 0.5em 1.5em;

    font-weight: bold;
    font-size: 2em;
    color: var(--brown2);
}

.carousel-element .abstract {
    background-color: var(--red1);
    padding: 0.5em 1.5em;

    font-size: 1.5em;
}

.carousel-element .comment {
    background-color: var(--red2);
    padding: 0.5em 1.5em;

    font-size: 1.2em;
    color: var(--black);
}



  
@media screen and (max-width: 1000px) {
    .carousel-element a {
        font-size: 1.75em;
    }

    .carousel-element .abstract {
        font-size: 1.25em;
    }

    .carousel-element .comment {
        font-size: 1em;
    }
}


.dot {
    cursor: pointer;
    
    height: 15px;
    width: 15px;
    margin: 0 2px;

    background-color: var(--white);
    border-radius: 50%;
    display: inline-block;

    transition: filter 0.6s ease;
    filter: brightness(75%);
}
  
.dot.current {
    filter: brightness(35%);
}

.dot:hover {
    filter: brightness(50%);
}