@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	font-family: 'Palatino Linotype';
}

#options {
    position: fixed !important;
    top: 25%;
    right: 0px;

    height: 50%;
    width: auto;
    max-width: 150px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    z-index: 4;
}

#options a {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    height: auto;

    margin: 0;
    padding: 15%;
    box-sizing: border-box;
    background: var(--main-color);
    color: var(--bg-color);

    transition: transform ease 0.5s;
}

#options a.selected {
    background-color: var(--fourth-color);
    pointer-events: none;
}

#options a:not(.selected):hover {
    text-shadow: 0.25em 0.25em 0.5em var(--black-color);
    transform: scale(1.2);
    right: 0;

    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.24);
}

#options a.languagebutton {
    padding: 10%;
}

.languagebutton img {
    width: inherit;
    height: auto;
    padding: 0;
    margin: 0;
}



#content {
    width: 60%;
    transform: none;
    transition: none;
    color: var(--bg-color);
    display: block;
}



@media screen and (max-width: 700px) {
    #options {
        top: auto;
        bottom: 0px;
        right: 25%;

        width: 50%;
        max-width: none;
        height: 100px;
        
        flex-flow: row nowrap;
    }

    #options a {
        width: auto;
        height: 100%;
        padding: 8%;
        font-size: 1.25em;
    }

    .languagebutton img {
        width: auto;
        height: inherit;
    }

    #content {
        width: 90%;
        margin-top: 5em;
        margin-bottom: 7em;
    }
}
