@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: 'Palatino Linotype';
}

#options {
    position: fixed !important;
    top: 25%;
    right: 0px;

    font-size: 1.4em;
    height: 50%;
    width: auto;
    max-width: 4.5em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    z-index: 4;
}

#options a {
    text-align: center;
    width: 100%;
    height: auto;

    padding: 10%;
    background: var(--yellow);
}

#options a.selected {
    pointer-events: none;
    background-color: var(--orange2);
}

#options a:not(.selected):hover {
    background-color: var(--orange1);
}

.languagebutton img {
    width: inherit;
    height: auto;
    padding: 0;
    margin: 0;

    margin-bottom: -6px;
}



#content {
    width: 70%;
    color: var(--black);
    display: block;
    margin: 1em 0;
}



@media screen and (max-width: 700px) {
    #options {
        top: auto;
        bottom: 0px;
        right: 25%;

        width: 50%;
        max-width: none;
        height: 80px;
        
        flex-flow: row nowrap;
    }

    #options a {
        width: auto;
        height: 100%;
        padding: 8%;
        font-size: 1.25em;
    }

    .languagebutton img {
        width: auto;
        height: inherit;
    }

    #content {
        width: 90%;
        margin: 6em 0;
    }
}
