.cursor-anim:after{
    content: '';
    display: inline-block;
    background-color: var(--white);
    margin-left: 0.2em;
    height: 0.7em;
    width: 4px;
    animation: cursor 1s infinite;
}

/* The typewriter cursor effect */
@keyframes cursor {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}