@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	margin: 0px;
	padding: 0px;
	font-family: 'Palatino Linotype';

    /*background-image: url("../resources/images/shapelined_.33.jpg");
    background-size: 100% auto;
    background-repeat: repeat;*/

	/* background-image: url("trianglify-cv.png");
	background-size: 100% auto;
	background-repeat: repeat; */
  background-color: #8d8741;
	/* background-color: rgba(245,255,75,1); */

	width: 100%;
	height: 100%;
}

body {
  width: 100%;
  height: 100%;
	margin: 0px;
	padding: 0px;
}

#content {
	width: 90%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border: 5px outset #8d8741;
  display: flex;
}

/* #content > div {
  flex: 50%;
  width: 50%;
  padding: 1%;
} */

.left-col {
	flex-grow: 35;
	width: 35%;
	padding: 1%;
	background-color: #bc986a;
}

.right-col {
	flex-grow: 65;
	width: 65%;
	padding: 1%;
	background-color: #daad86;
}

#contact {
	text-align: center;
}

#contact h1 {
	font-weight: 1200;
	font-size: 4em;
	text-decoration: underline;
	margin: 5px 0px 15px 0px;
}

#contact table {
	margin-left: auto;
	margin-right: auto;

  /* border: 3px solid #9fffcf; */
	border-collapse: collapse;
  border-radius: 15px;

  /* background-color: #9fffcf; */

	/* background: rgb(40,40,255);
	background: linear-gradient(216deg, rgba(40,40,255,1) 0%, rgba(68,255,255,1) 30%); */
	background: #fbeec1;
	background: linear-gradient(53deg, #fbeec1 30%, #659dbd 60%);
}

#contact td {
  /*border: 1px solid black;
	border-collapse: collapse;
*/
	width: 20em; /*30%;*/
	padding: 0px 15px 0px 15px;
}

#contact td:first-child {
	text-align: left;
	font-weight: bold;
}

#contact tr {
	border-top: 1px solid black;
}

#contact tr:first-child {
	border-top: 0;
}

#contact tr:first-child > td {
	padding-top: 5px;
}

#contact tr:last-child > td {
	padding-bottom: 5px;
}

#skills {
  margin-top: 10px;
}

#skills h2 {
	background-color: rgba(68,255,255,0.3);
}

.skill_cat {
  margin: 5px 5px 15px 5px;
  border-radius: 15px;
  padding: 10px;
  /* background-color: #9fcfff; */

  	background: #fbeec1;
	background: linear-gradient(53deg, #fbeec1 0%, #fbeec1 80%, #659dbd 60%);
	/* background: rgb(245,255,75);
	background: linear-gradient(233deg, rgba(245,255,75,1) 0%, rgba(68,255,255,1) 50%); */
}

.skill_cat b {
	font-size: 1.5em;
}

.skill_cat li b {
	font-size: 1em;
}

.skill_cat:last-child {
	margin-bottom: 5px;
}

.skill_cat ul {
  margin-top: 5px;
  margin-bottom: 5px;
	padding-left: 30px;
	/* column-count: 2; */
}

#extras {
  margin-top: 10px;
	border: 2px solid black;
	border-radius: 15px;

	background: #fbeec1;
	background: linear-gradient(53deg, #fbeec1 0%, #fbeec1 80%, #659dbd 60%);
}

#experiences {
  margin-top: 10px;
	border: 2px solid black;
	border-radius: 15px;

	background: #fbeec1;
	background: linear-gradient(53deg, #fbeec1 0%, #fbeec1 80%, #659dbd 60%);
}

#education {
  margin-top: 10px;
	border: 2px solid black;
	border-radius: 15px;

	background: #fbeec1;
	background: linear-gradient(53deg, #fbeec1 0%, #fbeec1 80%, #659dbd 60%);
}

div h2 {
	/* background: #000000; */
	/* color: #ffffff; */
	/*border-bottom: 3px solid #ff0000;*/
	background: rgb(255,0,0);
	background: linear-gradient(0deg, rgba(40,40,255,0.7) 0%, rgba(255,255,255,0.5) 20%);
	color: #000000;

	border-bottom: 2px solid black;
	border-radius: 15px;

	text-transform: uppercase;
  text-align: center;
	font-weight: 800;
	font-family: "Arial Black", Gadget, sans-serif;

  margin-bottom: 15px;
  margin-top: 0px;
}

.element {
	padding: 0px 0px 0px 5px;
	border-bottom: 1px solid #4f4f4f;
	margin-left: 2%;
	width: 96%;
}

.element:last-of-type {
	border-bottom: none;
}

.element .title {
	font-weight: 600;
	font-size: 1.05em;
}

.element i {
	font-size: 0.95em;
	font-style: italic;
	color: #4078fd; /*#4f4f4f;*/
}

.element table{
	width: 100%;
	margin: 5px 0px 5px 0px;
}

.element table td:first-child {
	text-align: left;
	vertical-align: top;
	width: 6em;
}

.element ul {
	margin: 2px 0px 2px 0px;
	padding-inline-start: 30px;
}
