@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
	--main-bg-color : #ffffff;
	--button-bg-color : #11b811;
	--left-col-color : #d4d4d4;
	--right-col-color : #efefef;
	--elt-bg-color : #ffffff;
	--elt-corner-color : #ffffff;
	--title-bg-color: #ffffff;
	--title-grad-color: #00000088;
	--element-gradient: linear-gradient(183deg, var(--elt-bg-color) 92%, var(--elt-corner-color) 100%);
}

html {
	font-family: 'Palatino Linotype';

 	background-color: var(--main-bg-color);
}

.left-col {
	width: 30%;
	min-width: 400px;
	padding: 1%;
	margin-right: 5px;
	z-index: 2;
	
	background-color: var(--left-col-color);
}

.right-col {
	width: 70%;
	padding: 1%;
	margin-left: 5px;

	background-color: var(--right-col-color);
}

#contact {
	text-align: center;
}

#contact h1 {
	font-weight: 1200;
	font-size: 4em;
	text-decoration: underline;
	/*overflow-wrap: break-word;*/
	white-space: pre-wrap;
	margin: 5px 0px 25px 0px;
	color: #4472C4;
}

#contact table {
	margin-left: auto;
	margin-right: auto;

	border-collapse: collapse;
	border-radius: 10px;
	  
	background: var(--left-col-color);
}

#contact td {
	width: 20em; /*30%;*/
	padding: 5px 15px 5px 15px;
}

#contact td:first-child {
	text-align: left;
	font-weight: bold;
}

#contact tr {
	border-top: 1px solid black;
}

#contact tr:first-child {
	border-top: 0;
}

#contact tr:first-child > td {
	padding-top: 5px;
}

#contact tr:last-child > td {
	padding-bottom: 5px;
}

#skills {
  	margin-top: 20px;
}

#skills h2 {
	background-color: var(--title-bg-color);
}

.skill_cat {
	margin: 5px 5px 15px 5px;
	border-radius: 15px;
	padding: 10px;

	background: var(--elt-bg-color);
	background: var(--element-gradient);
}

.skill_cat b {
	font-size: 1.5em;
}

.skill_cat li b {
	font-size: 1em;
}

.skill_cat:last-child {
	margin-bottom: 5px;
}

.skill_cat ul {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 30px;
	/* column-count: 2; */
}

#extras, #experiences, #education, #academic-projects {
  	margin-top: 10px;
	/*border: 2px solid black;*/
	border-radius: 15px;

	background: var(--elt-bg-color);
	background: var(--element-gradient);
}

#education_button, #experiences_button, #extras_button, #academic_projects_button {
	width: 100%;
	height: auto;
	padding: 0;

	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#education_elements, #experiences_elements, #extras_elements, #academic_projects_elements {
	max-height: 0;
	transition: max-height 0.2s ease-out;
	visibility: hidden;
}

div h2 {
	/* background: #000000; */
	/* color: #ffffff; */
	/*border-bottom: 3px solid #ff0000;*/
	width: 100%;
	background: var(--title-bg-color);
	background: linear-gradient(0deg, var(--title-grad-color) 0%, var(--title-bg-color) 20%);
	color: #000000;

	border-bottom: 2px solid black;
	border-radius: 15px;

	text-transform: uppercase;
  	text-align: center;
	font-weight: 800;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 1.6em;

	padding-bottom: 5px;
  	margin-bottom: 0px;
  	margin-top: 0px;
}

#skills h2 {
	margin-bottom: 15px;
}

.element {
	padding: 0.125em 0 0.25em 0.5em;
	border-bottom: 1px solid #4f4f4f;
	margin-left: 2%;
	width: 96%;
}

.element:last-of-type {
	border-bottom: none;
}

.element .title {
	font-weight: 600;
	font-size: 1.05em;
}

.element i {
	font-size: 0.95em;
	font-style: italic;
	color: #4078fd; /*#4f4f4f;*/
}

.element table{
	width: 100%;
	margin: 5px 0px 5px 0px;
}

.element table td:first-child {
	text-align: left;
	vertical-align: top;
	width: 6em;
}

.element ul {
	margin: 2px 0px 2px 0px;
	padding-inline-start: 30px;
}
