@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	font-family: 'Palatino Linotype';
	
    /*background-image: url("../resources/images/shapelined_.33.jpg");
    background-size: 100% auto;
	background-repeat: repeat;*/
}

#content {
	background: var(--third-color);
	padding: 0 1em;
}

#contact, #education, #experiences, #skills, #extras, #academic-projects {
	margin-bottom: 1em;
}

#contact {
	text-align: center;
	margin-top: 1em;
}

#contact table {
	margin: 1em auto 2em;

	border: 3px solid var(--sec-color);
	border-collapse: collapse;
	background-color: var(--light-gray);
}

#contact td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	width: 18em; /*30%;*/
}

#contact td:first-child {
	text-align: left;
	font-weight: bold;
}

.cat h2 {
	color: var(--sec-color);
	border-bottom: 3px solid var(--sec-color);
	text-transform: uppercase;
	font-weight: 900;
	font-family: Roboto;

	padding: 0.2em 0 0.1em 0;
	font-size: 1.5em;
	background-color: var(--light-gray);
}

.element {
	padding: 0.25em 0;
	border-bottom: 1px solid #b0b0b0;
	margin: auto;
	width: 96%;
}

.element:last-of-type {
	border-bottom: none;
}

.element .title {
	font-weight: 600;	
	font-size: 1.4em;
	display: block;
}

.element i {
	font-size: 0.95em;
	color: var(--fourth-color);
	margin-bottom: 0.75em;
	display: block;
}

.element table {
	width: 100%;
	margin: 0.4em 0px;
}

.element table td:first-child {
	text-align: left;
	vertical-align: top;
	width: 6em;
	padding-top: 0.4em;
}

.element ul {
	margin: 2px 0px 2px 0px;
	padding-inline-start: 2em;
	text-align: start;
}

#skills td {
	text-align: left;
	vertical-align: top;
	padding: 0.4em 0em 0.4em 0.5em;
}

#skills tr td {
	border-bottom: solid 1px black;	
}

#skills tr:last-of-type td {
	border-bottom: none;
}

#skills ul {
	margin: 2px 0px 2px 0px;
	padding-inline-start: 2em;
}
