@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
	--main-bg-color : #ffffff;
	--button-bg-color : #11b811;
	--button-bar-color : #ffff8c;
}

html {
	margin: 0px;
	padding: 0px;
	font-family: 'Palatino Linotype';
	
    background-image: url("../resources/images/shapelined_.33.jpg");
    background-size: 100% auto;
    background-repeat: repeat;
	
	width: 100%;
	height: 100%;
	font-size: 1.2em;
}

body {
	width: 100%;
	height: 100%;
 	margin: 0 0 2em 0;
  	padding: 0;
}

#buttonDiv {
	width: 98%;
	height: 3.5em;

	position: fixed;
	top: 0;

	/*margin-top: 0px;
	margin-bottom: 30px;*/
	
	margin-left: auto;
	margin-right: auto;

	padding-left: 1%;
	padding-right: 1%;

	background-color: var(--button-bar-color);
	text-align: center;
	z-index: 99;
}

#CVTypeDiv, #CVButtonDiv, #LanguageDiv {
	display: inline;
}

#CVTypeDiv {
	position: absolute;
	left: 1%;
}

#CVButtonDiv {
	margin: auto;
}

#LanguageDiv {
	position: absolute;
	right: 1%;
}

.cvtypebutton, .cvbutton, .languagebutton {
	width: 6em;
	height: 3em;

	margin: 0.5em 0.25em 0.5em 0.25em;

	background-color: var(--button-bg-color);
}

.cvbutton:hover, .cvtypebutton:hover, .languagebutton:hover {
	opacity: 67%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)/*, 0 17px 20px 0 rgba(0,0,0,0.19);*/
}

#home_button {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
	color: initial;
	
	width: 3em;
	background-color: var(--right-col-color);
	background-image: url(../resources/images/home_button.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.cvbutton {
	visibility: visible;
}

.languagebutton {
	width: 4.5em;

	background-color: var(--right-col-color);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#eng-flag {
	background-image: url("../resources/images/english-flag.png");
}

#fra-flag {
	background-image: url("../resources/images/french-flag.png");
	display: none;
}

#content {
	margin-top: 4.5em;
}

#contact, #education, #experiences, #skills, #extras, #academic-projects {
	margin-left: 5%;
	width: 90%;

	margin-bottom: 2em;
}

#contact {
	text-align: center;
}

#contact h1 {
	font-weight: 800;
	font-size: 3em;
	text-decoration: underline;
}

#contact table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4em;

	border: 3px solid #4078fd;
	border-collapse: collapse;
}

#contact td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	width: 18em; /*30%;*/
}

#contact td:first-child {
	text-align: left;
	font-weight: bold;
}

div h2 {
	color: #4078fd;
	border-bottom: 3px solid #4078fd;
	text-transform: uppercase;
	font-weight: 900;
	font-family: Roboto;

	padding-left: 5px;
}

.element {
	padding: 0.25em 0 0.5em 1em;
	border-bottom: 1px solid #b0b0b0;
	margin-left: 2%;
	width: 96%;
}

.element:last-of-type {
	border-bottom: none;
}

.element .title {
	font-weight: 600;	
	font-size: 1.4em;
}

.element i {
	font-size: 0.95em;
	color: #4078fd; /*#4f4f4f;*/
}

.element table{
	width: 100%;
	margin: 0.5em 0px 0.5em 0px;
}

.element table td:first-child {
	text-align: left;
	vertical-align: top;
	width: 8em;
}

.element ul {
	margin: 2px 0px 2px 0px;
	padding-inline-start: 2em;
}

#skills td {
	text-align: left;
	vertical-align: top;
	padding: 0 1em 0 1em 0;
}

#skills ul {
	margin: 2px 0px 2px 0px;
	padding-inline-start: 2em;
}
