@charset "ISO-8859-1";

html {
	margin: 0px;
	padding: 0px;
	font-family: "Book Antiqua", Palatino, serif;

  background-image: url("../resources/images/shapelined_.33.jpg");
  background-size: 100% auto;
  background-repeat: repeat;

	width: 100%;
	height: 100%;
}

body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.entete {
  margin-bottom: 30px;
}

.entete h1 {
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
}

.contenu p {
  text-indent: 50px;
  text-align: justify;
}

.contenu h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sources div {
  margin-bottom: 5px;
}


.sources #sources-title {
  margin-bottom: 15px;
}
